.banner {
  padding-top: 200px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding-bottom: 50px;
}

.banner-img-container {
  width: 20%;
}

.banner-img {
  display: inline-block;
  width: 100%;
  height: auto;
}

.banner-text p {
  font-weight: var(--ws-x);
  font-size: var(--fs-x);
}

.banner-text button {
  padding: 0.5em 1em;
  font-weight: var(--ws-x);
  font-size: var(--fs-x);
  background-color: var(--clr-x-pale-red);
  border: none;
  outline: none;
  border-radius: 25px;
}

.banner-create-ad {
  font-size: var(--fs-l) !important;
  color: var(--clr-bright-red);
  cursor: pointer;
  transition: transform 0.3s ease;
}

.banner-create-ad:hover {
  transform: translateY(-5px);
}

@media (max-width:900px) {
  .banner-text p {
    font-size: 1.5rem;
  }

  .banner-create-ad {
    font-size: var(--fs-m) !important;
  }
}

@media (max-width:650px) {
  .banner {
    flex-direction: column-reverse;
    text-align: center;
  }

  .banner-text p {
    font-size: var(--fs-m);
  }

  .banner-create-ad {
    font-size: var(--fs-s) !important;
  }
  .banner-img-container {
    width: 50%;
    padding-bottom: 50px;
  }
}

@media (max-width:450px) {
  .banner {
    padding-top: 130px;
  }
  .banner-text p {
    font-size: var(--fs-s);
  }

  .banner-create-ad {
    font-size: var(--fs-xs) !important;
  }
}