.categories-container {
  height: auto;
  display: flex;
  justify-content: center;
  padding:0.75em 0.5em 0.1em 0em;
  width: 90vw;
}

.categories-mapping {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.category-item {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}


.category-single-slot {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0rem 0.25rem;
}

.category-icon {
  display: inline-block;
  width: 15px;
  color: var(--clr-bright-red);

}

.category-arrow {
  color: black !important;
  font-size: var(--fs-m) !important;
}

.category-single-slot span {
  margin-left: 5px;
  margin-right: 5px;
  font-size: var(--fs-xs);
  letter-spacing: 1px;
  font-weight: var(--ws-x);
  color: var(--clr-bright-red);
}

.subcategory-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.subcategory-list {
  position: absolute;
  top: 93%;
  padding: 0;
  margin: 0;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  opacity: 0;
  transform: translateY(-10px);
  animation: dropdown 0.3s ease forwards;
}

.category-item:hover .subcategory-list {
  animation-name: dropdown;
  animation-duration: 0.3s;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
}

@keyframes dropdown {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes dropdown-reverse {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(-10px);
  }
}

.subcategory-item {
  display: flex;
  align-items: center;
  padding: 10px;
}

.subcategory-item img {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}

.category-hidden {
  display:none;
  width: 1rem;
}

.subcategory-item span {
  font-size: 0.8rem;
}

@media (max-width: 900px) {
  .category-single-slot p {
    font-size: var(--fs-xxs);
  }
}

@media (max-width: 768px) {
  .categories {
    height:115px ;
  }

  .category-item h3{
    font-size: 0;
    opacity: 0;
  }

  .category-single-slot span{
    display: none;
  }

  .category-hidden {
    display: block;
  }

  .category-arrow {
    display: block !important;
  }
}

@media (max-width: 500px) {
  .categories-container {
    height: 37px;
  }
  .category-hidden {
    width: 0.8rem;
  }
  .subcategory-item span {
    font-size: 0.7rem;
  }
}