.categories {
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  height: 20vh;
  backdrop-filter: blur(10px);
  background-color: transparent;
  background: linear-gradient(to top, #44a7c2a3, #1d5d77);
  box-shadow: 0px 0px 8px 10px rgba(0, 0, 0, 0.2);
  z-index: 998;
}


.categories-container {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}

.category-item {
  width:auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
  position: relative;
}

.category-item a {
  display: flex;
  align-items: center;
}

.category-icon {
  font-size: 0.8em;
  margin-left: 5px; 
  padding: 3px 0px;
}

.category-icon img {
  width: 15px;
  height: 15px;
  display: flex;
}

.category-item h3 {
  margin-left: 5px;
  font-size: 15px;
  margin-top: 5px;
}

.subcategory-list {
  position: absolute;
  top: 100%;
  left: 0;
  list-style: none;
  padding: 0;
  margin: 0;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  display: flex;
  flex-direction: column;

 
  opacity: 0;
  transform: translateY(-10px);
  animation: dropdown 0.3s ease forwards;
}

.category-item:hover .subcategory-list {
  animation-name: dropdown;
  animation-duration: 0.3s;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
}

@keyframes dropdown {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes dropdown-reverse {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(-10px);
  }
}

.subcategory-item {
  display: flex;
  align-items: center;
  padding: 10px;
}

.subcategory-item img {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}

.category-item:not(:last-child) {
  border-right: 1px solid #ccc;
  padding-right: 10px;
}

.dropdown-arrow {
  display: inline-block;
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #000; 
  margin-left: 5px;
}

@media (max-width: 800px) {
  .categories {
    padding-top: 50px;
    height:175px ;
  }

  .categories-container {
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
  }

  .category-item {
    margin-bottom: 10px;
    flex-direction: row;
  }

  .category-item h3{
    font-size: 0;
    opacity: 0;
  }
}

@media (max-width: 768px) {
  .categories {
    padding-top: 50px;
    height:175px ;
  }

  .categories-container {
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
  }

  .category-item {
    margin-bottom: 10px;
    flex-direction: row;
  }

  .category-icon {
    margin-right:0 !important;
  }

  .category-item h3{
    font-size: 0;
    opacity: 0;
  }
}