/* Common Changes */
.header-transition {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px 20px;
  background-color: white;
  height: 60px;
  border-radius: 30px;
  margin-top: 20px;
  width: 80%;
  position: fixed;
  top: 1%;
  left: 0;
  right: 0;
  margin: 0 auto;
  box-shadow: 0px 0px 8px 10px rgba(0, 0, 0, 0.1);
  z-index: 999;
}

.header-transition .logo-container {
  justify-content: flex-start;
}

.header-transition .logo-container .logo {
  margin-top: 5px;
  height: auto;
  width: auto;
  cursor: pointer;
  font-family: Helvetica;
  color: #D85A60;
  font-size: 30px;
  font-weight: 560;
}

.header-transition .search {
  margin-right: 30px;
  margin: 10px;
}

.header-transition .buttons-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
}

.header-transition .buttons-container .profile-items,
.header-transition .buttons-container .alignement-items {
  display: flex;
  align-items: center;
}

.header-transition .buttons-container .alignement-items .create-ad-button {
  margin: 10px;
  border-color: #D85A60;
  border-width: 2px ;
  background-color: transparent;
  color: #D85A60;
  font-weight: 550;
  transition: transform 0.3s ease;
}

.header-transition .buttons-container .alignement-items:hover .create-ad-button {
  transform: scale(1.05);
}

.logos {
  display: flex;
  align-items: center;
}

.logos .heart-icon {
  color: rgb(228, 40, 40);
  font-size: 1.5rem;
  margin-bottom: 8px;
  cursor: pointer;
  margin-left: 25px;
  margin-right: 8px;
  transition: transform 0.3s ease;
}

.logos .heart-icon:hover {
  transform: scale(1.25);
}

.logos .location-icon {
  color: #9a9a9a;
  font-size: 1.5rem;
  margin-bottom: 8px;
  cursor: pointer;
  margin-left: 8px;
  margin-right: 8px;
  transition: transform 0.3s ease;
}

.logos .location-icon:hover {
  transform: scale(1.25);
}

.bell-icon {
  color: #9a9a9a;
  font-size: 1.5rem;
  margin-bottom: 8px;
  cursor: pointer;
  margin-left: 8px;
  margin-right: 8px;
  transition: transform 0.3s ease;
}

.bell-icon-unseen {
  color: #e42828;
}

.bell-icon:hover {
  transform: scale(1.25);
}

.notification-navbar {
  position: relative;
  margin-top: 40px;
}

.notification-navbar .notification-dropdown {
  position: absolute;
  right: 0;
  padding: 7px;
  width: 300px;
  max-height: 400px;
  overflow-y: auto;
  background-color: #e0e0e0;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.notification-navbar .notification-container {
  padding: 10px;
  border-bottom: 1px solid #DDD;
  font-style:oblique;
}

.notification-navbar .notification-container:last-child {
  border-bottom: none;
}

.notification-navbar .notification-container:hover {
  background-color: #F9F9F9;
}

.notification-navbar .notification-dropdown.active {
  display: block;
}


.profile-section {
  position: relative;
}

.small-navbar {
  position: absolute;
  top: 100%;
  right: 0;
  left: 0;
  width: 150px; /* Adjust the width as needed */
  background-color: #e0e0e0;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  display: none;
}

.profile-section:hover .small-navbar {
  display: block;
}

.small-navbar .link {
  text-decoration: none;
  text-align: start;
  color: black;
}














.no-variants {
  display: none;
}


.dropdown-container {
  height: 50% !important;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 10px;
  max-width: 100px !important;
}



.ms-4 .vertical-line {
  border-left: 2px solid rgba(117, 117, 117, 0.5);
  height: 40px;
}

.category-icon {
  margin-right: 3px;
}

.profile-picture-container {
  width: 40px;
  height: 40px;
  margin-left: 30px;
  border-radius: 50%;
  overflow: hidden;
}

.profile-picture {
  width: 100%;
  height: 100%;
  object-fit: cover;
}



.searchbar {
  padding-top: 4px;
  margin-right: 30px;
}


.my-ad-button {
  border-color: #0A62F3 !important;
  background-color: #0A62F3 !important;
  color: #ffffff !important;
  width: 160px;
  height: 35px;
  margin-top: 10px;
  margin-right: 20px;
}







.bell-icon-unseen {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #e42828;
  font-size: 1.5rem;
  margin-bottom: 2px;
  cursor: pointer;
  margin-left: 8px;
  margin-right: 8px;
}

.fixed-content {
  display: flex;
  justify-content: center;
  top: 50px;
  margin-left: 20px;
  background-color: #fff;
  max-width: 100px;
}

.collapse-list {
  margin-top: 13px;
}

.theme {
  border-color: rgb(255, 255, 255) !important;
  background-color: rgb(255, 255, 255) !important;
  color: #888 !important;
  width: 150px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.my-ad-icon {
  margin-right: 5px;
  font-size: 3rem;
}

.category {
  display: flex;
  justify-content: flex-end;
}

.collapse-list ul {
  list-style: none;
  padding-left: 0;
}

.collapse-list li {
  margin-bottom: 10px;
}

.collapse-list li ul {
  margin-left: 15px;
}

.collapse-list li ul li {
  margin-bottom: 5px;
}

.login-btn {
  width: auto;
  background-color: transparent !important;
  color: #2b6474 !important;
  font-weight: 500 !important;
  border-color: #2b6474 !important;
  border: 10px !important;
}



.orginize {
  display: grid;
}

@media (max-width: 768px) {

  .header-transition {
    padding: 10px;
    height: 50px;
    width: auto;
    left: 1%;
    right: 1%;
  }

  .logo {
    font-size: 20px;
  }

  .header-transition .buttons-container {
    justify-content: center;
  }

  .create-ad-button {
    width: 98px;
    height: 30px;
  }

  .create-ad-button span {
    font-size: 11px;
    font-weight: 650;
  }


  .search {
    margin-top: 60px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    z-index: 9999;
  }

  .my-ad-button {
    width: 100px;
    height: 25px;
    font-size: 12px;
  }

  .small-navbar {
    width: 100px;
    font-size: 12px;
  }

  .location-icon,
  .heart-icon,
  .bell-icon,
  .bell-icon-unseen {
    font-size: 1rem;
  }

  .notification-navbar {
    width: 250px;
    max-height: 300px !important;
  }

  .login-btn span {
    font-size: 0;
    flex-direction: row;
  }

  .no-variants {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .no-variants p {
    display: flex;
    font-size: 10px;
    font-weight: 650;
  }
}