.header-section {
  display: flex;
  flex-direction: column;
  z-index: 9999;
  position: fixed;
  width: 100vw;
  justify-content: center;
  align-items: center;
  background-color: var(--clr-white);
  padding:1em 1em 0.25em 1em;
  height: auto;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
}

.header-container {
  width: 100vw;
  align-items: center;
  justify-content: space-evenly;
  display: flex;
}

.header-logo-container {
  display: flex;
  gap: 0.2rem;
  cursor: pointer;
  padding: 0.5em 1em;
}

.header-logo-logo {
  display: inline-block;
  width: 2.75rem;
  height: 2.75rem;
  padding: 2px 2px;
}

.header-logo {
  font-family: var(--logo-ff);
  font-weight: var(--ws-s);
  color:var(--clr-dark-blue);
  text-shadow: 5px 5px 3px #00000036;
  font-size: var(--fs-xxl);
  padding: 5px 0px;
}

.header-search {
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  align-items: center;
}

.header-alignement-items {
  display: flex;
}

.create-ad-button {
  display: inline-block;
  font-weight: var(--ws-m);
  padding: 0.5em 1em;
  font-size: var(--fs-m);
  text-decoration: none;
  background-color: var(--clr-dark-blue);
  border-radius: 25px;
  letter-spacing: 0.5px;
  border: none;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.4);
  outline: none;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.create-ad-button:hover{
  transform: translateY(-3px);
}

.header-create-ad-inner {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--clr-white);
}

.login-btn {
  padding: 0.5em 1em;
  border: none;
  color: var(--clr-bright-red);
  font-weight: var(--ws-x);
  cursor: pointer;
  transition: transform 0.3s ease;
  background-color: transparent;
}

.login-btn:hover {
  transform: translateY(-3px);
}

.signup-btn {
  padding: 0.5em 1em;
  border: none;
  color: var(--clr-bright-red);
  font-weight: var(--ws-x);
  cursor: pointer;
  transition: transform 0.3s ease;
  background-color: transparent;
}

.signup-btn:hover {
  transform: translateY(-3px);
}



@media (max-width: 1050px) {
  .header-logo-logo {
    width: var(--fs-xxl);
    height: var(--fs-xxl);
  }
  
  .header-logo {
    font-size: var(--fs-x);
  }

  .login-btn {
    font-size: var(--fs-s);
  }

  .signup-btn {
    font-size: var(--fs-s);
  }

  .create-ad-button {
    font-size: var(--fs-s);
  }
}

@media (max-width: 900px) {
  .header-logo-logo {
    width: var(--fs-x);
    height: var(--fs-x);
  }
  
  .header-logo {
    font-size: 1.625rem;
  }

  .login-btn {
    font-size: var(--fs-xs);
  }

  .signup-btn {
    font-size: var(--fs-xs);
  }

  .create-ad-button {
    font-size: var(--fs-xs);
  }
}

@media (max-width: 800px) {
  .create-ad-button {
    display: none;
  }
}

@media (max-width:544px) {
  .header-logo-container {
    padding: 0.25em 0.5em;;
  }

  .header-logo-logo {
    width: 1.5rem;
    height: 1.5rem;
    margin-top: 2px;
  }
  
  .header-logo {
    font-size: 1.5rem;
  }

  .login-btn {
    font-size: var(--fs-xs);
  }

  .signup-btn {
    font-size: var(--fs-xs);
  }
}

@media (max-width: 500px) {
  .header-logo-container {
    padding: 0.25em 0.5em;;
  }

  .header-logo-logo {
    display: none;
  }

  .login-btn {
    font-size: var(--fs-xs);
    margin-right: 5px;
  }

  .signup-btn {
    display: none;
  }

  .create-ad-button {
    font-size: var(--fs-xs);
  }
}

@media (max-width: 345px) {

}