.button {
    width: 100%;
    padding: 0.5em 1em;
    border: 1px solid transparent;
    background-color: var(--clr-x-pale-red);
    color: var(--clr-bright-red);
    font-weight: var(--ws-x);
    cursor: pointer;
    transition: box-shadow 0.2s ease;
}

.button:hover {
    box-shadow: 0 0.25rem 1rem rgba(242, 95, 58, 0.3);
}

@media (max-width: 475px) {
    .button {
        font-size: 0.875rem !important;
    }
}