.create-account-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 150px 10px;
}

.create-account-form {
    display: flex;
    width: 100%;
    justify-content: center;
}

.create-account {
    display: flex;
    flex-direction: column;
    padding: 40px 20px;
    justify-content: center;
    align-items: center;
}

.create-account h5 {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #D85A60;
    font-weight: 550;
}

.single-row {
    display: flex;
    margin-top: 10px !important;
}

.fisrtname-input {
    margin-right: 5px;
}

.lastname-input {
    margin-left: 5px;
}

.password-input {
    margin-right: 5px;
}

.confirm-password-input {
    margin-left: 5px;
}

.phone-number {
    display: flex;
    margin-top: 5px;
    margin-bottom: 10px;
}

.input-design {
    border-radius: 25px !important;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
    margin-top: 5px;
    margin-bottom: 10px;
    border: 1px solid rgb(202, 202, 202) !important;
    width: 100% !important;

}

.phone-input {
    border-bottom-right-radius: 25px !important;
    border-top-right-radius: 25px !important;
    border-bottom-left-radius: 0px !important;
    border-top-left-radius: 0px !important;
    border-left: none !important;
    margin-bottom: 5px;
    border: 1px solid rgb(202, 202, 202) !important;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
    width: 100% ;
}

.phone-prefix {
    border-bottom-left-radius: 25px !important;
    border-top-left-radius: 25px !important;
    border-bottom-right-radius: 0px !important;
    border-top-right-radius: 0px !important;
    margin-bottom: 5px;
    border: 1px solid rgb(202, 202, 202) !important;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
    min-width: 65px;
}
.create-account-title {
    font-weight: 500;
    font-size: 1.25rem;
    color: var(--clr-dark-blue);
}

.create-account-button {
    border-radius: 25px !important;
    width: 100%;
    margin-top: 20px;
}

.inner-picture {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.picture-container {
    width: 150px;
    height: 150px;
    position: relative;
    overflow: hidden;
    border: 1px solid rgb(202, 202, 202);
    border-radius: 50%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 12px;
    margin-bottom: 8px;
    margin-top: 8px;
    background-color: rgb(204, 204, 204);
}

.upload-icon-create-account {
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.create-account-banner-container {
    display: flex;
    justify-content: flex-start;
    width: 100%;
}

.create-account-banner {
    display: flex;
    justify-content: flex-start !important;
    width: 90%;
    height: auto;
}

@media (max-width:1000px) {
    .create-account-banner-container {
        display:none;
    }
}

@media (max-width:555px) {

    .create-account-container {
        padding: 100px 10px;
    }

    .single-row {
        display: grid;
    }

    .fisrtname-input {
        margin-right: 0px;
    }

    .lastname-input {
        margin-left: 0px;
    }

    .phone-input {
        font-size: 0.89rem;
    }

    .phone-prefix {
        font-size: 0.89rem;
        width: 63px !important;
    }

    .password-input {
        margin-right: 0px;
    }

    .confirm-password-input {
        margin-left: 0px;
    }

    .input-design {
        font-size: 0.89rem;
    }

    .picture-container {
        width: 125px;
        height: 125px;
    }

    .create-account-title {
        font-size: 1rem;
    }
}