.create-ad-section {
    padding: 150px;
}

.first-class {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.first-window {
    border: 1px solid blue;
}

.second-window {
    border: 1px solid red;
}

.third-window {
    border: 1px solid green;
}

.forth-window {
    border: 1px solid yellow;
}

.fifth-window {
    border: 1px solid cyan;
}

.drop {
    margin-left: 5px;
    margin-right: 5px;
    padding: 20px;
}