.main-page-container {
    display: grid;
    height: auto;
    grid-template-columns: 200px 1fr;
    grid-template-rows: 200px 1fr;
    grid-template-areas:
    "header header" 
    "sidebar content";
}

.header-container-main {
    background-color: blueviolet;
    grid-area: header;
}

.main-sidebar {
    background-color: blue;
    grid-area: sidebar;
    padding: 10px 10px;
}

.page-container {
    background-color: red;
    grid-area: content;
}

.main-sidebar ul {
}