.profile-main {
    margin-top: 125px;
    margin-bottom: 50px;
}

.main-page-container {
    display: flex;
    justify-content: space-evenly;
    gap: 2rem;
}

.main-sidebar {
    background-color: rgb(255, 255, 255);
    padding: 0px 0px;
    border-radius: 25px;
    flex-direction: column;
}

.main-sidebar p {
    display: flex;
    font-size: 1.5rem;
    font-weight: var(--ws-m);
    justify-content: center;
}

.side-bar-selection {
    cursor: pointer;
    transition: color 0.3s ease;
}

.side-bar-selection:hover {
    color: var(--clr-bright-red);
}

.main-sidebar ul {
    display: flex;
    flex-direction: column;
    margin-right: 15px;
    list-style: none;
    row-gap: 10px;
}

.main-sidebar li {
    display: flex;
    position: relative;
    color: rgb(125, 125, 125);
    font-weight: var(--ws-m);
    margin-top: 10px;
    height: 35px;
}

.main-sidebar li:before {
    content: "";
    position: relative;
    top: 0;
    left: 0;
    width: 2px;
    height: 35px;
    background-color: rgb(200, 200, 200);
    margin-right: 10px;
}

.selected-option {
    color: var(--clr-bright-red) !important;
}

.main-sidebar li.selected-option {
    font-weight: bold;
}

.main-sidebar li.selected-option:before {
    background-color: var(--clr-bright-red);
    height: 25px;
}

.main-detailed-page {
    display: flex;
    flex-direction: column;
    align-self: center;

}

.selected-option-title {
    display: flex;
    font-size: 1.5rem;
    font-weight: var(--ws-m);
    justify-content: center;
    margin-bottom: -25px;
}

.edit-profile-button {
    width: auto !important;
    border-radius: 25px;
}

.page-container {
    display: flex;
}

/* side bar mobile adjustements */

.sidebar-container {
    display: none;
    position: relative;
    height: 40px;
    overflow: hidden;
}

.sidebar-collapse {
    animation: expandSidebar 0.3s ease forwards;
}

.sidebar-close {
    animation: closeSidebar 0.3s ease forwards;
}

@keyframes expandSidebar {
    from {
        height: 40px;
    }
    to {
        height: 275px;
    }
}

@keyframes closeSidebar {
    from {
        height: 275px;
    }
    to {
        height: 40px;
    }
}

.sidebar-trigger {
    cursor: pointer;
    /* Insert your trigger icon styles */
}

.sidebar-mobile {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: #fff;
    z-index: 1000;
}

.arrow-icon {
    display: inline-block;
    transition: transform 0.3s ease;
}

.arrow-icon.up {
    transform: rotate(180deg);
}

.sidebar-plain {
    display: block;
}

@media (max-width:768px) {
    .main-page-container {
        flex-direction: column;
        align-items: center;
        padding: 10px 10px;
    }

    .page-container {
        display: flex;
        width: auto;
        justify-content: center;
        align-items: center;
        padding: 10px 10px;
    }

    .sidebar-container {
        display: block;
    }

    .sidebar-plain {
        display: none;
    }
}