.profile-section-main {
  display: flex;
  justify-content: center;
  align-items: center;
}

.upper-profile-body-section {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.upper-profile-body-section-info {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  gap: 20px;
}

.upper-profile-section-details {
  display: flex;
  justify-content: center;
  flex-direction: column;
  row-gap: 5px;
}

.upper-profile-section-details-name {
  font-weight: var(--ws-l);
  font-size: 1.1rem;
}

.upper-profile-section-details-phone-adress {
  display: flex;
  align-items: center;
  font-size: var(--fs-xs);
  color: rgb(150, 150, 150);
}

.profile-edit-button {
  border-radius: 25px;
  padding: 5px 10px;
}

/* BODY SECTION */

.profile-body-section-main {
  border: 2px solid rgb(200, 200, 200, 0.5);
  border-radius: 25px;
  padding: 20px 40px;
  width: 100%;
  margin-top: 50px;
  flex-direction: column;
  min-height: 200px;
}

.profile-section-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 1rem;
  gap:10px;
}

.profile-section-title span {
  font-weight: var(--ws-l);
  font-size: 1.1rem;
}

.profile-body-section {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.profile-name-section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.profile-body-section-info {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}

.profile-row-section {
  display: flex;
  flex-direction: column;
  width:400px;
}

.profile-right-side {
  margin-right: 250px;
}

@media (max-width:768px){
  .profile-body-section-main {
    border: 2px solid rgb(200, 200, 200, 0.5);
    border-radius: 25px;
    padding: 10px 10px;
  }
  .profile-body-section-info {
    gap:0;
    display: flex;
    flex-direction: column;
  }
  .profile-right-side {
    margin-right: 0px;
  }
  .profile-body-section {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding: 10px 10px;
  }
  .profile-body-section-info p {
    font-size: 0.8rem;
  }
  .profile-name-section {
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
  }
  .profile-row-section {
    width: 300px;
  }
}

@media (max-width:375px) {
  .profile-row-section {
    width: 200px;
  }
}
