.newpassword-unauthorized {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 250px 50px;
    flex-direction: column;
}

.newpassword-unauthorized-fallback {
    color: rgb(82, 82, 255);
    cursor: pointer;
    transition: transform 0.3s ease;
}

.newpassword-unauthorized-fallback:hover {
    transform: translateY(-2.5px);
}

/* auth section */

.newpassword {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 150px 50px !important;
}

.newpassword-image-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.newpassword-image {
    width: 30%;
    border: none;
}

.newpassword h2 {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--clr-bright-red);
    font-weight: 550;
}

.newpassword span {
    color: var( --clr-dark-blue);
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 550;
}

.newpassword-input {
    margin: 10px 10px;
    width: 55% !important;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.4);
    font-size: 1rem;
    transition: box-shadow 0.15s ease-in-out;
}

.newpassword-submit-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.newpassword-submit {
    border-radius: 25px !important;
    width: 35%;
    margin-top: 5px;
}

@media (max-width:425px) {
    .newpassword-input {
        width: 100% !important;
    }

    .newpassword-input {
        font-size: 0.875rem;
    }

    .newpassword span {
        font-size: 0.9rem;
    }

    .newpassword-submit {
        width: 60%;
        font-size: 0.8rem;
    }
}